/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
	#primary {
		width: 67%;
	}
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
	#primary {
		width: 100%;
	}
	.container-1 h1 {
		font-size: 1.8rem !important;
	}

	div.container-3-body {
		width: 100%;
	}

	div.box {
		display: none !important;
	}

	div.wavy {
		padding-top: 85%;
		padding-left: 15%;
	}

	div.container-4 {
		width: 100%;
		font-size: 12px;
		word-wrap: break-word;
	}

	div.js-body-content-body {
		background: transparent;
		border: none;
		box-shadow: none;
		width: 100%;
	}

	div.js-body-content-body p {
		margin-left: -20px;
		width: 300px;
	}

	div.js-body-content {
		display: none !important;
	}

	div.container-5 {
		width: 100%;
	}

	div.container-5 h1 {
		margin-left: -95px;
		font-size: 3rem !important;
	}

	div.container-5 p {
		margin-left: -35px;
		width: 300px;
		font-size: 14px;
	}

	div.container-6 {
		width: 100%;
	}

	div.container-6 h1 {
		margin-left: -50px !important;
		font-size: 3rem !important;
	}

	div.container-6 h2 {
		padding-top: 10px;
		margin-left: -50px;
		font-size: 16px;
	}

	div.contact-body {
		width: 100%;
		margin-left: -50px;
	}

	div.contact-body input {
		width: 280px;
	}

	div.contact-body textarea {
		width: 280px;
	}
}

* {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
}
html,
body {
	height: 100vh;
	font-family: 'Poppins';
	background: rgb(24, 24, 24);
	margin-right: -30px;
}

.webgl {
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	mix-blend-mode: exclusion;
}

.flappbird {
	width: 50%;
	height: 100%;
}
.container-1 {
	overflow: hidden;
	height: 680px;
	display: grid;
	place-items: center;
	box-shadow: 0 10px 25px -2px rgba(220, 20, 60, .55);
}

.container-2 {
	overflow: hidden;
	height: 680px;
	display: grid;
	place-items: center;
}

.container-3 {
	overflow: hidden;
	height: 680px;
	width: 100%;
	position: relative;
	box-shadow: 0px 15px 25px -15px rgb(172, 161, 14);
	z-index: 1;
}

.container-1 h1 {
	font-size: 6rem;
	text-transform: uppercase;
	color: rgba(245, 245, 245, .75);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-3 .box {
	padding-top: 150px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(100% + 400px);
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
	animation: animateSurface 1.5s ease-in-out infinite;
}

@keyframes animateSurface {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-200px);
	}
}

.container-3 .box .cube {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 10px;
	background: rgba(220, 20, 60, .5);
	box-shadow: 0 0 5px rgb(220, 20, 60, 1), 0 0 10px rgb(220, 20, 60, 1), 0 0 15px rgb(220, 20, 60, 1),
		0 0 20px rgb(220, 20, 60, 1), 0 0 100px rgb(220, 20, 60, 1);
	transform-origin: bottom right;
	animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
	0% {
		transform: rotate(0deg);
	}
	60% {
		transform: rotate(90deg);
	}
	65% {
		transform: rotate(85deg);
	}
	70% {
		transform: rotate(90deg);
	}
	75% {
		transform: rotate(87.5deg);
	}
	80%,
	100% {
		transform: rotate(90deg);
	}
}

.container-3 h1 {
	color: whitesmoke;
	padding-left: 80px;
	padding-top: 70px;
	font-size: 60px !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-3 .anim-heading {
	padding-top: 200px;
	transform: rotate(35deg);
	transform-style: preserve-3d;
	animation: animate-about-me 25s linear infinite;
}

@keyframes animate-about-me {
	0% {
		transform: rotateX(0deg) rotate(35deg);
	}
	100% {
		transform: rotateX(360deg) rotate(35deg);
	}
}

.container-3 .anim-heading span {
	position: absolute;
	color: whitesmoke;
	font-size: 2.5em;
	white-space: nowrap;
	text-transform: uppercase;
	font-weight: 900;
	padding: 0 10px;
	transform: preserve-3d;
	text-shadow: 0 5px 15px rgba(0.0.0.0.25);
	transform: rotateX(calc(var(--i) * 22.5deg)) translateZ(100px);
}

.container-3 .anim-heading span i:nth-child(1) {
	font-style: initial;
	color: rgb(220, 20, 60);
}

.container-3 .anim-heading span i:nth-child(2) {
	font-style: initial;
	color: rgb(65, 105, 225);
}

.container-3 p {
	padding-right: 100px;
	float: right;
	color: whitesmoke;
	font-size: 18px;
}

.container-4 {
	overflow: hidden;
	position: relative;
	height: 600px;
	width: 100%;
	color: whitesmoke;
	box-shadow: 0px 15px 25px -15px rgba(41, 197, 245, 0.75);
	background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .75)), url(img/campus-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.container-5 {
	overflow: hidden;
	z-index: -1;
	height: 600px;
	width: 100%;
	position: relative;
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url(img/security.jpg);
	background-attachment: fixed;
	background-size: cover;
	box-shadow: 0 10px 25px -2px rgba(50, 205, 50, .45);
}

.js-body-content {
	position: relative;
	top: 20%;
	left: 15%;
	height: 350px;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(45deg);
}

.container-6 {
	overflow: hidden;
	z-index: -2;
	position: relative;
	height: 600px;
	width: 100%;
	color: whitesmoke;
	justify-content: center;
	align-items: center;
	background: rgb (0, 0, 0);
	background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url(img/about-me.jpg);
	background-repeat: no-repeat;
}

.container-6 h1 {
	color: whitesmoke;
	padding-top: 100px;
	padding-left: 100px;
	opacity: 1 !important;
}

.container-5 h1 {
	font-size: 6rem !important;
	padding-bottom: 15px;
	margin-top: -20px;
	color: whitesmoke;
	padding-top: 100px;
	padding-left: 180px !important;
	font-weight: 500;
}

.container-3-body {
	padding-top: 40px;
	position: absolute;
	height: 500px;
	width: 600px;
	word-wrap: break-word;
	padding-left: 60px;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-3-body p {
	padding-left: 10px;
	font-weight: 250;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container-3-body h1 {
	font-size: 4.5vw !important;
	padding-right: 180px;
	padding-bottom: 30px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.name {
	background: transparent;
	color: rgb(0, 255, 255);
	font-weight: 450;
}

.creative {
	background: transparent;
	color: rgb(47, 186, 241);
	font-weight: 250;
}

.personality {
	background: transparent;
	color: rgb(47, 186, 241);
	font-weight: 250;
}

.life {
	background: transparent;
	color: rgb(14, 167, 167);
	font-weight: 600;
}

.wavy {
	padding-top: 200px;
	font-size: 1.5vw !important;
	padding-left: 40px;
	position: absolute;
	-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wavy span {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	animation: animate-wavy 3s ease-in-out infinite;
	animation-delay: calc(0.1s * var(--i));
}

@keyframes animate-wavy {
	0% {
		transform: translateY(0px);
	}
	20% {
		transform: translateY(-20px);
	}
	40%,
	100% {
		transform: translateY(0px);
	}
}

.js-body-content div {
	position: absolute;
	top: 0;
	left: 40%;
	height: 100%;
	display: flex;
	transform-style: preserve-3d;
}
.js-body-content div span:before {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgb(0, 0, 0) 95%, rgba(255, 215, 0, .15));
	transform-style: preserve-3d;
	transform: translateX(-25px);
}

.js-body-content div span {
	position: relative;
	display: block;
	width: 50px;
	height: 100%;
	background: linear-gradient(rgba(168, 24, 24, .25), rgba(255, 215, 0, .25));
	animation: animate-js-body 2.8s linear infinite;
}

@keyframes animate-js-body {
	0% {
		transform: rotateX(0deg);
	}
	100% {
		transform: rotateX(360deg);
	}
}

.js-body-content div span:nth-child(1) {
	animation-delay: 0s;
}

.js-body-content div span:nth-child(2) {
	animation-delay: 0.2s;
}

.js-body-content div span:nth-child(3) {
	animation-delay: 0.4s;
}

.js-body-content div span:nth-child(4) {
	animation-delay: 0.6s;
}

.js-body-content div span:nth-child(5) {
	animation-delay: 0.8s;
}

.js-body-content div span:nth-child(6) {
	animation-delay: 1s;
}

.js-body-content div span:nth-child(7) {
	animation-delay: 1.2s;
}

.js-body-content div span:nth-child(8) {
	animation-delay: 1.4s;
}

.js-body-content div span:nth-child(9) {
	animation-delay: 1.6s;
}

.js-body-content-body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-radius: 15px;
	margin-top: 70px;
	margin-left: 50px;
	position: absolute;
	height: 400px;
	background: rgba(0, 0, 0, .65);
	width: 550px;
	border: 1px solid rgba(255, 255, 255, .05);
	box-shadow: 2px 3px 5px 0px rgba(255, 215, 0, .25);
}

.js-body-content-body p {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-wrap: break-word;
	padding-top: 20px;
	padding-left: 5px;
	text-align: center;
	font-weight: 250;
}

.laravel {
	background: transparent;
	color: rgba(250, 142, 0, 0.658);
	font-weight: 350;
}
.cache-poisoning {
	background: transparent;
	color: rgba(31, 255, 236, 0.651);
	font-weight: 350;
	font-size: 18px;
}

.hackerOne {
	background: transparent;
	color: rgba(18, 166, 252, 0.7);
	font-weight: 350;
	font-size: 18px;
}

.bugCrowd {
	background: transparent;
	color: rgba(252, 168, 14, 0.897);
	font-weight: 350;
	font-size: 18px;
}
.django {
	background: transparent;
	color: rgba(250, 142, 0, 0.658);
	font-weight: 350;
}

.angularJs {
	background: transparent;
	color: rgba(250, 142, 0, 0.658);
	font-weight: 350;
}

.mvcModel {
	background: transparent;
	color: rgba(250, 142, 0, 0.658);
	font-weight: 350;
}

.prog-languages {
	background: transparent;
	color: rgba(248, 233, 20, .8);
	font-weight: 250;
	font-size: 16px;
}

.belgiumCmapus {
	background: transparent;
	color: rgba(248, 233, 20, .8);
	font-weight: 350;
	font-size: 20px;
}

.container-5 h1 {
	font-size: 6em;
	margin-top: -90px;
	padding-left: 140px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.security-body-content {
	height: 500px;
	width: 600px;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 200;
	padding-left: 60px;
	text-align: center;
}
.security-body-content p {
	font-weight: 250;
	padding-top: 18px;
	color: whitesmoke;
	font-weight: 150 !important;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
	margin-top: 50px;
	justify-content: center;
	align-items: center;
	transition: all 1s ease-in-out;
}

.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid whitesmoke;
	color: whitesmoke;
	font-size: 18px;
	margin-bottom: 16px;
}

input {
	height: 45px;
}

form .submit {
	background: rgb(44, 42, 42);
	border-color: transparent;
	color: whitesmoke;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover {
	background-color: rgba(128, 128, 128, .7);
	cursor: pointer;
}

.contact-body {
	padding-left: 25%;
}

.contact-title h1 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 28%;
	font-weight: 500;
	font-size: 6rem !important;
}

.contact-title h2 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 37%;
	color: rgba(0, 255, 0, .7);
	font-weight: 350;
}
